body {
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  background: linear-gradient(
    89deg,
    rgb(3, 48, 146) 0.1%,
    rgb(34, 44, 185) 51.5%,
    rgb(4, 118, 248) 100.2%
  );

  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 40px 20px;
  border: 3px solid #e2c9cc;
  border-radius: 20px;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 1px 2px 3px 0.5px grey;
}

.heading {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  color: #71d2f8;
  text-shadow: 3px 2px 1px black;
}

.searchCity {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;

  width: 79%;

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  margin-bottom: 10px;
}

.searchButton {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #dfd4d5;

  border: 1px solid #e2c9cc;
  border-radius: 0.25rem;
  transition: all 0.4s ease-in-out;
}

.searchButton:hover {
  border-color: #fff;
  background-color: white;
  color: black;
}

.locationIcon {
  font-size: 25px;
  padding: 0 8px 0 8px;
  background-color: #dfd4d5;
  border: none;
}

.locationIcon:hover {
  background-color: white;
}
.currentDate {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.cityEntered {
  font-family: "Comfortaa", cursive;
  font-size: 50px;
  color: #71d2f8;
}

.cityEntered {
  text-shadow: 3px 2px 1px black;
}

.unitC {
  border-radius: 80px;
  background-color: #71d2f8;
  color: black;
  box-shadow: 1px 1px 2px rgb(128, 128, 128);
  border: 1px solid #71d2f8;
  position: relative;
  top: 20px;
}

.tempDisplay {
  font-family: "Comfortaa", cursive;
  font-size: 80px;
  color: #71d2f8;
  text-shadow: 3px 2px 1px black;
}

.divider {
  color: #71d2f8;
  font-size: 20px;
}

.looksLike {
  text-transform: capitalize;
}

.mainIcon {
  margin: 0 auto;
  cursor: default;
  padding-top: 100px;
}
.forcast {
  padding: 8px;
  margin-right: 5px;
  margin-left: 5px;

  border: 1px solid #e2c9cc;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.forcastEmoji {
  padding-top: 10px;
  cursor: default;
}
.forcastTemp {
  font-size: 18px;
}
.openSourceCode {
  color: #161e20;
}
.githubLink {
  text-decoration: none;
}

.githubLink:hover {
  color: #161e20;
  text-shadow: 1px 1px 1px rgb(128, 128, 128);
}
